<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administración de Usuarios</title>
</head>
<body>
<h2>👥 Usuarios del sistema</h2>

<div th:if="${mensaje}">
    <p style="color: green;" th:text="${mensaje}"></p>
</div>

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.username}">Nombre</td>
            <td th:text="${usuario.rol}">Rol</td>
            <td th:text="${usuario.enabled ? '✅' : '❌'}"></td>
            <td>
            	<form th:action="@{'/admin/toggle-enabled/' + ${usuario.id}}" method="post">
            		<button type="submit">
            			<span th:text="${usuario.enabled ? 'Desactivar' : 'Activar'}"></span>
            		</button>
            	</form>
            </td>
            <td>
               <a th:href="@{/admin/cambiar-password/{id}(id=${usuario.id})}">Establecer nueva contraseña</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <li><a th:href="@{/logout}">🚪 Cerrar sesión</a></li>
</div>
</body>
</html>